<!-- Component still needs polishing 
 also it needs to pull data from organizations.yml for a single soure of truth of partners listed there that match data  
 
 For example - open source:true --> 
<section class="slp-grid slp-relative slp-mb-64 md:slp-mb-160">
  <div class="slp-col-span-12 slp-mb-32">
    <div class="slp-relative slp-text-center slp-max-w-7xl slp-mb-16 slp-mx-auto">
      <h3
        class="slp-font-normal slp-text-grayscale-333 slp-text-3xl md:slp-text-4xl slp-leading-tight slp-mb-16 slp-col-span-full"
      >
        <%= partners.heading %>
      </h3>
    </div>
  </div>
  <% if partners.type == 'open-source' %> 
    <% data.organizations.each do |org| %>
      <% if org.opensource_partner %>
        <% if org.home_url %>
        <!-- hover:slp-opacity-100 should work here but doesnt -->
          <a href="<%= org.home_url %>" class="partner_logo slp-col-span-2 md:slp-col-span-3 slp-opacity-40 slp-inline-block slp-self-center slp-relative" style="min-height: 100px">
            <img
              class="slp-mx-auto slp-absolute slp-top-1/2 slp-left-1/2"
              src="<%= org.logo_color %>"
              alt="<%= org.name %> logo"
              style="transform: translate(-50%, -50%)"
            />
          </a>
        <% else %>
           <div href="<%= org.home_url %>" class="slp-inline-block slp-col-span-2 slp-self-center slp-relative" style="min-height: 100px">
            <img
              class="slp-opacity-40 slp-mx-auto slp-absolute slp-top-1/2 slp-left-1/2"
              src="<%= org.logo_color %>"
              alt="<%= org.name %> logo"
              style="transform: translate(-50%, -50%)"
            />
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</section>
<style>
  .partner_logo:hover {
    opacity:100%!important;
  }

  .partner_logo img {
    max-height: 75px;
  }
</style>