---
layout: handbook-page-toc
title: Sec Section Performance Indicators
---

## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}

<%= performance_indicators('Sec Section') %>
