<!DOCTYPE html>
<html lang="en">
  <head>
    <%= partial "includes/layout/head" %>
    <%= partial "includes/cms/reusable-blocks/schema", locals: { schema: event.schema } %>
  </head>
  <body class="slp-bg-white">
    <!-- Navigation -->
    <% if event.navigation %>
      <%= partial "includes/cms/event/slp-event-navigation", locals: { navigation: event.navigation } %>
    <% end %>
    <main>
      <!-- Header -->
      <% if event.header %>
        <%= partial "includes/cms/event/slp-header" %>
      <% end %>
      <!-- Video -->
      <% if event.featured_video %>
        <%= partial "includes/cms/event/slp-video", locals: { video_data: event.featured_video } %>
      <% end %>
      <!-- Copy and image block -- two column -->
      <% if event.copy_1 %>
        <div id="what-is-commit" data-slippers-scroll="what-is-commit">
          <%= partial "includes/cms/event/slp-event-copy", locals: { copy_block: event.copy_1 } %>
        </div>
      <% end %>
      <!-- Speakers -->
      <% if event.speakers_block %>
        <div id="speakers" data-slippers-scroll="speakers">
          <%= partial "includes/cms/event/slp-speakers", locals: { speakers_block: event.speakers_block } %>
        </div>
      <% end %>
      <!-- Countdown -->
      <% if event.countdown %>
        <div id="countdown" data-slippers-scroll="countdown">
          <%= partial "includes/cms/event/slp-countdown" %>
        </div>
      <% end %>
      <!-- Tracks -->
      <% if event.tracks %>
        <div id="tracks" data-slippers-scroll="tracks">
          <%= partial "includes/cms/event/slp-benefits", locals: { tracks: event.tracks } %>
        </div>
      <% end %>
      <!-- List block -->
      <% if event.block_list_1 %>
        <div id="important-dates" data-slippers-scroll="important-dates">
          <%= partial "includes/cms/event/slp-block-list", locals: { block_list: event.block_list_1 } %>
        </div>
      <% end %>
      <!-- Schedule: this will be an iframe to an external resource -->
      <% if event.iframe %>
        <div id="schedule" data-slippers-scroll="schedule">
          <section class="slp-commit-grid slp-relative slp-mb-64 md:slp-mb-160">
            <div class="slp-col-span-10">
              <%= partial "includes/cms/reusable-blocks/iframe-component", locals: { iframe: event.iframe } %>
            </div>
          </section>
        </div>
      <% end %>
      <!-- Copy block -- heavy -->
      <% if event.copy_2 %>
        <div id="what-to-expect" data-slippers-scroll="what-to-expect">
          <%= partial "includes/cms/event/slp-event-copy", locals: { copy_block: event.copy_2 } %>
        </div>
      <% end %>
      <!-- Copy block -- heavy -->
      <% if event.copy_3 %>
        <div id="sponsors" data-slippers-scroll="sponsors">
          <%= partial "includes/cms/event/slp-event-copy", locals: { copy_block: event.copy_3 } %>
        </div>
      <% end %>
      <!-- CTAs -->
      <% if event.cta %>
        <%= partial "includes/cms/event/slp-cta" %>
      <% end %>
      <!-- Video carousel -->
      <% if event.video_carousel %>
          <%= partial "includes/cms/event/slp-video", locals: { video_data: event.video_carousel } %>
      <% end %>
      <!-- Partners -->
      <% if event.partners_tiers %>
        <div id="partners" data-slippers-scroll="partners">
          <%= partial "includes/cms/event/slp-partners", locals: { heading: event.partners_heading, body: event.partners_body, cta_text: event.partners_cta_text, cta_link: event.partners_cta_link, tiers: event.partners_tiers } %>
        </div>
      <% end %>
      <!-- Sattelight events section -->
      <% if event.satellite_events %>
        <div id="events" data-slippers-scroll="events">
          <%= partial "includes/cms/event/slp-card", locals: { section: event.satellite_events } %>
        </div>
      <% end %>
      <!-- Get in touch -->
      <% if event.connect %>
        <div id="get-in-touch" data-slippers-scroll="get-in-touch">
          <%= partial "includes/cms/event/slp-connect" %>
        </div>
      <% end %>
      <!-- Announcement -->
      <% if event.announcement %>
        <div id="announcement" data-slippers-scroll="announcement">
          <%= partial "includes/cms/event/slp-announcement" %>
        </div>
      <% end %>
      <!-- CTA Banner -->
      <% if event.cta_banner %>
        <%= partial "includes/cms/reusable-blocks/cta-banner", locals: { cta_banner: event.cta_banner } %>
      <% end %>
    </main>
    <script data-cookieconsent="ignore" src="/javascripts/slippers-event-countdown.js" type="text/javascript"></script>
    <script data-cookieconsent="ignore" src="/javascripts/slippers-event-speaker.js" type="text/javascript"></script>
    <style>
      svg {
        fill: white!important;
      }
      /* Needed for side nav to go underneath on scroll */
      .footer, .git-trademark,  .animated.text-center.source-link, .gitlab-trial {
        z-index: 101;
      }
      .footer {
        margin-top:0px;
      }
    </style>
    <!-- Standard footer, also needed for all the scripts -->
    <%= partial "includes/layout/footer" %>
  </body>
</html>
